.bg-container{
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.card-container{
  background-color: goldenrod;
  padding: 20px;
  width: 300px;
  margin: 10px;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.card-btn button{
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  border-color: whitesmoke;
}

button#increment:hover{
  background-color: darkgreen;
  color: azure;
}

button#increment{
  background-color: darkblue;
  color: azure;
}
.heading{
  margin-top: 1s0px;
}


.initial{
  font-size: 30px;
}

button#reset:hover{
  background-color: darkmagenta;
  color: azure;
}

button#decrement:hover{
  background-color: brown;
  color: azure;
}

button#decrement{
  background-color: mediumspringgreen;
}